<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.uboot.modules.system.mapper.SysDepartMapper">

    <select id="queryUserDeparts" parameterType="String" resultType="org.uboot.modules.system.entity.SysDepart">
	   select * from sys_depart sd where sd.id IN ( select dep_id from sys_user_depart where user_id = #{userId} )
	   and sd.del_flag = '0'
	</select>

    <!-- 根据username查询所拥有的部门 -->
    <select id="queryDepartsByUsername" parameterType="String" resultType="org.uboot.modules.system.entity.SysDepart">
        SELECT *
        FROM sys_depart
        WHERE id IN (
            SELECT dep_id
            FROM sys_user_depart
            WHERE user_id = (
                SELECT id
                FROM sys_user
                WHERE username = #{username}
            )
        )
        and del_flag = '0'
    </select>

    <select id="queryUserDepartsByTenantId" resultType="org.uboot.modules.system.entity.SysDepart">
        select * from sys_depart where id IN ( select dep_id from sys_user_depart where user_id = #{userId} )
        and tenant_id = #{tenantId}
        and del_flag = '0'
    </select>

    <select id="selectAllDepartByUser" resultMap="sysDepartTreeModelMap">
        select <include refid="modelColumns" /> from sys_depart sd, sys_user su where sd.org_code = su.org_code and su.id = #{id}
        and sd.del_flag = '0'
    </select>

    <select id="selectAllDepart" resultMap="sysDepartTreeModelMap">
        select <include refid="modelColumns" /> from sys_depart sd where sd.parent_id = ''
        and sd.del_flag = '0'
    </select>

    <select id="selectByParentId" resultMap="sysDepartTreeModelMap">
        select <include refid="modelColumns" /> from sys_depart sd where sd.parent_id = #{id}
        and sd.del_flag = '0'
    </select>

    <select id="selectManagersByDepartId" resultType="org.uboot.modules.system.entity.SysUser">
        select su.* from sys_user su, sys_user_depart sud
        where sud.dep_id = #{id}
        and sud.user_id = su.id
        and sud.is_manager = 1
    </select>

    <resultMap id="sysDepartTreeModelMap" type="org.uboot.modules.system.model.SysDepartTreeWithManagerModel">
        <id property="id" column="id"></id>
        <result property="parentId" column="parent_id"></result>
        <result property="departName" column="depart_name"></result>
        <result property="departNameEn" column="depart_name_en"></result>
        <result property="departNameAbbr" column="depart_name_abbr"></result>
        <result property="departOrder" column="depart_order"></result>
        <result property="description" column="description"></result>
        <result property="orgCategory" column="org_category"></result>
        <result property="orgType" column="org_type"></result>
        <result property="orgCode" column="org_code"></result>
        <result property="mobile" column="mobile"></result>
        <result property="fax" column="fax"></result>
        <result property="address" column="address"></result>
        <result property="memo" column="memo"></result>
        <result property="status" column="status"></result>
        <result property="delFlag" column="del_flag"></result>
        <result property="createBy" column="create_by"></result>
        <result property="createTime" column="create_time"></result>
        <result property="updateBy" column="update_by"></result>
        <result property="updateTime" column="update_time"></result>
        <result property="organization" column="organization"></result>
        <association property="children"
                     select="selectByParentId"
                     column="id">
        </association>
        <association property="userList"
                     select="selectManagersByDepartId"
                     column="id">
        </association>
        <association property="userCount"
                     select="selectDepartUserCount"
                     column="id">
        </association>
    </resultMap>

    <select id="selectDepartUserCount" resultType="java.lang.Integer">
        SELECT
        count(sud.user_id)
        FROM
            sys_depart depart left join sys_user_depart sud on depart.id = sud.dep_id
        WHERE
            depart.id = #{id}
            and depart.del_flag = '0'
    </select>

    <select id="queryDepartsByUserId" resultType="java.lang.String">
        select sud.dep_id as dep_id from sys_user su
        left join sys_user_depart sud on su.id = sud.user_id
        where su.id = #{userId}
    </select>

    <select id="selectParentIdByName" parameterType="org.uboot.common.system.vo.SqlVo" resultType="java.lang.String">
        ${sql}
    </select>

    <select id="getFirstDepartId" resultType="org.uboot.modules.system.entity.SysDepart">
        select * from sys_depart
        where del_flag = 0 and parent_id = ''
        order by create_time
        limit 1
    </select>

    <sql id="modelColumns">
        sd.id AS `key`, sd.id AS `value`, sd.depart_name AS title, sd.id, sd.tenant_id, sd.parent_id, sd.depart_name, sd.depart_name_en, sd.depart_name_abbr, sd.depart_order, sd.description, sd.org_category, sd.org_type, sd.org_code, sd.mobile, sd.fax, sd.address, sd.memo, sd.STATUS, sd.del_flag, sd.create_by, sd.create_time, sd.update_by, sd.update_time, sd.organization
    </sql>

    <delete id="deleteDepartUsers">
        delete from sys_user_depart where user_id in
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>



</mapper>
